{% extends 'base.html' %}{% block body %}
<div class="container" style="margin: 4em; margin-left: 11em;">
    <h2 style="margin-left: 10em; font-family: cursive; font-size: 38px; margin-bottom: 65px; text-decoration: underline;">About this App</h2>
    <div style="    font-size: 20px; font-family: cursive; margin-right: 6em;">Hello! I'm Steemy, generally used by the users to maintain their day-to-day tasks or list everything that they have to do, with the most important task at the top of the list, and the least important task at the bottom. I am pleased to help you in
        planning your daily schedules. Start winning your goals :)
    </div>
    <div style=" font-size: 20px; font-family: cursive; margin-right: 6em; margin-top: 2em;">You can add your Task title and description in the text area and submit it by clicking the submit button. If you want to update or delete any task from your todo list you can press the keys accordingly.</div>
    <div>
        <h4 style="margin-left: 37em; margin-top: 4em; color: #94625d;">Hope, it is helpful!!</h4>
    </div>
</div>
{% endblock body %}